node_modules/
dist/
.next/
.wrangler/
.env
.env.local
*.log
.DS_Store
app/_sites-preview/
examples/
db/
drizzle/
build/
app/chatgpt-auth.ts
lib/test.txt
package-lock.json
work/
drizzle.config.ts

